@page "/edit-mantenimiento"

@attribute [Authorize]

<PageTitle>Edit Mantenimiento</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save Mantenimiento</RadzenAlert>
        <RadzenTemplateForm TItem="CoralTickets.Server.Models.db_a905b1_coraldb.Mantenimiento" Data="@mantenimiento" Visible="@(mantenimiento != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Fecha Programada" Component="FechaProgramada" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@mantenimiento.FechaProgramada" Name="FechaProgramada" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Tipo de Mantenimiento" Component="TipoMantenimiento" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@mantenimiento.TipoMantenimiento" Name="TipoMantenimiento" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Estado" Component="Estado" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@mantenimiento.Estado" Name="Estado" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Hora" Component="Hora" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@mantenimiento.Hora" Name="Hora" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Descripcion" Component="Descripcion" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@mantenimiento.Descripcion" Name="Descripcion" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="TIManager" Component="TIManager" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@mantenimiento.TIManager" Name="TIManager" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Equipo" Component="Equipo" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDown Data="@equiposForidequipo" TextProperty="TipoEquipo" ValueProperty="idequipo"
                         Placeholder="Choose Equipo" style="display: block; width: 100%" @bind-Value="@mantenimiento.idequipo" Name="idequipo"
                         Count=@equiposForidequipoCount LoadData=@equiposForidequipoLoadData />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

